body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 40px 10px; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    width: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #000000;
    margin: 5px; 
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure form takes full width of container */
    align-items: center;
}

label {
    color: #000;
    font-weight: bold;
    margin: 8px 0;
    text-align: left;
    width: 80%; /* Match input width for alignment */
}

input, select {
    padding: 12px; /* Slightly reduced padding for better proportions */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%; /* Set a fixed width for input fields */
    box-sizing: border-box; /* Ensure padding is included in width */
}

button {
    padding: 12px 10px; /* Adjusted padding for better proportions */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: 80%; /* Match input width for alignment */
}

button:hover {
    background-color: #0056b3;
}

.login-container .message {
    font-size: 1rem;
    color: red; /* Ensure color is red */
    margin-top: 10px;
    font-weight: bold; /* Make text bold for better visibility */
    padding: 8px 12px; /* Optional: Add padding for better spacing */
  }

.toggle-text {
    color: #000000;
    margin: 5px 0; /* Added margin for better spacing */
}

.toggle-button {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}